<h1>IIR管理画面</h1>

<h2>ログイン画面</h2>

<%= flash[:notice] %>
<%= flash[:error] %>

<%= form_tag "/login" do %>
  <p>
    <%= label_tag :name, "ユーザ名" %>
    <%= text_field_tag :name %>
  </p>
  <p>
    <%= label_tag :password, "パスワード" %>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag "ログイン" %>
  </p>
<% end %>

